{% extends 'base.html' %}
{% block head_block %} {% endblock %}
{% block body_block %}
<div class="container">
	<br/>
	<h1 class="float-right"> Create Payroll </h1>
	<br/>

	<form method="POST" action="/hr_payroll/new_payroll/" enctype="multipart/form-data">
		{% csrf_token %}

		<div class="form-group">
			<a href="javascript:history.back()" class="btn btn-dark"> 
				<i class="fa fa-arrow-left" aria-hidden="true"></i> Back </a>
			<input type="submit" value="Create" class="btn btn-info">
		</div>

		<div class="form-row">
			<div class="form-group col-md-6">
				{{ form.name.label_tag }} {{ form.name }}
			</div>

			<div class="form-group col-md-6">
				{{ form.employee.label_tag }} {{ form.employee }}
			</div>
		</div>

		<div class="form-row">
			<div class="form-group col-md-6">
				{{ form.job.label_tag }} {{ form.job }}
			</div>

			<div class="form-group col-md-6">
				{{ form.department.label_tag }} {{ form.department }}
			</div>
		</div>

		<div class="form-row">
			<div class="form-group col-md-6">
				{{ form.salary.label_tag }} {{ form.salary }}
			</div>

			<div class="form-group col-md-6">
				{{ form.pay_date.label_tag }} {{ form.pay_date }}
			</div>
		</div>

        <div class="form-group">
            {{ form.tags.label_tag }} {{ form.tags }}
        </div>
	</form>
</div>
{% endblock %}